html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.banner {
  max-height: 500px;
  position: relative;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto;
}

.img-flex {
  width: 100%;
  display: block;
}
